<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".admin.user.UsersList"
            android:exported="false" />
        <activity
            android:name=".ProfileChangePassword"
            android:parentActivityName=".UserEditProfileActivity"
            android:exported="true"
            android:label="Change My Password"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />

        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="azurefuture.com"
                    android:pathPrefix="/reset_password"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddOrganization"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="Add New Organization
"           android:parentActivityName=".admin.user.AdminUserFragment"/>
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Admin_Organization_EditProfile"
            android:exported="true"
            android:label="Edit Profile Details"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".UserEditProfileActivity"
            android:parentActivityName=".user.profile.ProfileFragment"
            android:exported="true"
            android:label="Edit My Profile Details"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".RegisterAccount"
            android:exported="false" />
        <activity
            android:name=".user_home"
            android:exported="false" />


<!--        <activity-->
<!--            android:name=".RegisterAccount"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".user_home"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".user_views"-->
<!--            android:exported="false" />-->

<!--        <activity-->
<!--            android:name=".FundraisingDetails"-->
<!--            android:exported="false" />-->

<!--        <activity-->
<!--            android:name=".EventDetails"-->
<!--            android:exported="false" />-->

        <activity
            android:name=".user.donate.CreditCard"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:parentActivityName=".user.donate.Payment"
            android:label="Credit Card"
            android:exported="false" />

        <activity
            android:name=".user.donate.Paypal"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:parentActivityName=".user.donate.Payment"
            android:label="Paypal"
            android:exported="false" />

        <activity
            android:name=".user.donate.Payment"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:parentActivityName=".user.donate.DonateDetails"
            android:label="Payment"
            android:exported="false" />

<!--        <activity android:name=".admin.AdminHome"/>-->
<!--        <activity android:name=".user.UserHome"/>-->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminHome"
            android:exported="true" />
        <activity
            android:name=".admin.dashboard.DashboardFragment"
            android:exported="true" />
        <activity
            android:name=".admin.donate.AdminDonateFragment"
            android:exported="true" />
        <activity
            android:name=".admin.news.AdminNewsFragment"
            android:exported="true" />
        <activity
            android:name=".admin.news.AdminNewAddFragment"
            android:parentActivityName=".admin.news.AdminNewsFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".admin.report.AdminReportFragment"
            android:exported="true" />
        <activity
            android:name=".admin.user.AdminUserFragment"
            android:exported="true" />
        <activity
            android:name=".admin.event.AdminEventFragment"
            android:exported="true" />
        <activity
            android:name=".admin.event.AdminEventAddFragment"
            android:parentActivityName=".admin.event.AdminEventFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".admin.event.AdminEventUpdateFragment"
            android:parentActivityName=".admin.event.AdminEventFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".user.UserHome"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".user.event.EventFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".user.event.EventDetails"
            android:parentActivityName=".user.event.EventFragment"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="Event Detail"
            android:exported="true" />
        <activity
            android:name=".user.donate.DonateFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".user.profile.ProfileFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".user.donate.DonateDetails"
            android:parentActivityName=".user.donate.DonateFragment"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="Donate Detail"
            android:exported="true" />
        <activity
            android:name=".user.profile.DonateHistory"
            android:parentActivityName=".user.profile.ProfileFragment"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Donate History"
            android:exported="true" />
        <activity
            android:name=".user.profile.EventHistory"
            android:parentActivityName=".user.profile.ProfileFragment"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Event History"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>